---
import MainLayout from '../layouts/MainLayout.astro';
import FooterLayout from '../layouts/FooterLayout.astro';
import CaseLayout from '../layouts/CaseLayout.astro';
---

<MainLayout title="🥘 Miso Soup"></MainLayout>

<div class="bg-img-wrap">
    <CaseLayout>
        <article class="case-word-block">
            <hr>
            <h1 class="case-h1">Miso Soup</h1>
            <figure>
                <div class="center-img">
                    <a href="https://www.freeimages.com/photo/miso-soup-with-seaweed-1626971" target="_blank">
                        <img src="./assets/miso_soup.jpg" alt="miso soup">
                    </a>
                </div>
                <figcaption>
                    <p class="credit case-credit"><a href="https://www.freeimages.com/photo/miso-soup-with-seaweed-1626971" target="_blank">Photographer: Piovasco</a></p>
                </figcaption>
            </figure>

            <section>
                <h3>What is Miso Soup?</h3>
                <div>
                    <p>Miso soup is a traditional Japanese soup made from a broth of dashi (a Japanese stock made from dried fish flakes) and miso paste. Miso paste is made from fermented soybeans, rice or barley, and salt. Other ingredients such as tofu, seaweed, green onions, and mushrooms are often added to the soup to enhance its flavor and nutritional value.
                    <br><br>
                    To make miso soup, the dashi is first prepared by simmering dried fish flakes or other ingredients such as kombu seaweed in water. The miso paste is then added to the dashi and stirred until it dissolves, after which other ingredients such as tofu and vegetables are added to the soup. The soup is then simmered until the ingredients are cooked through.
                    <br><br>
                    Miso soup is a staple of Japanese cuisine and is often served as a breakfast food, a side dish with lunch or dinner, or as a snack. It's known for its rich umami flavor and is considered to be a healthy and nourishing food due to its high protein and nutrient content.</p>
                </div>
            </section>

            <section>
                <h3>Ingredients</h3>
                <ul class="info-list ul-list">
                    <li>4 cups of dashi (Japanese soup stock)</li>
                    <li>3 tablespoons of miso paste</li>
                    <li>1/2 cup of cubed tofu</li>
                    <li>1/4 cup of chopped green onions</li>
                    <li>1/4 cup of sliced shiitake mushrooms</li>
                    <li>1 sheet of nori seaweed, cut into small pieces</li>
                </ul>
            </section>

            <section>
                <h3>Instructions</h3>
                <ol class="info-list ol-list">
                    <li>In a pot, bring the dashi to a simmer over medium heat.</li>
                    <li>Add the mushrooms and tofu to the pot and simmer for 2-3 minutes until the tofu is heated through.</li>
                    <li>In a small bowl, whisk the miso paste with a small amount of the hot dashi until it is smooth and no lumps remain.</li>
                    <li>Turn off the heat, and add the miso paste mixture to the pot, stirring gently to combine.</li>
                    <li>Add the green onions and nori seaweed to the pot and stir.</li>
                    <li>Serve the miso soup hot, garnished with extra green onions or nori seaweed, if desired.</li>
                </ol>

                <p><strong>Note:</strong> It's important not to boil the miso soup after adding the miso paste, as this can cause the miso to lose its flavor and nutritional value.</p>
                <hr>
            </section>
        </article>
    </CaseLayout>
</div>

<FooterLayout></FooterLayout>