---
import MainLayout from '../layouts/MainLayout.astro';
import FooterLayout from '../layouts/FooterLayout.astro';
import CaseLayout from '../layouts/CaseLayout.astro';
---

<MainLayout title="ðŸ™ Onigiri" home="../" caseAbout="../index.html#about" caseFood="../index.html#food" caseContact="../index.html#contact"></MainLayout>

<div class="bg-img-wrap">
    <CaseLayout>
        <article class="case-word-block">
            <hr>
            <h1 class="case-h1">Onigiri</h1>
            <figure>
                <div class="center-img">
                    <a href="https://www.istockphoto.com/photo/onigiri-japanese-food-japanese-rice-ball-gm1202391173-345180117" target="_blank">
                        <img src="../assets/onigiri.jpg" alt="onigiri">
                    </a>
                </div>
                <figcaption>
                    <p class="credit case-credit"><a href="https://www.istockphoto.com/photo/onigiri-japanese-food-japanese-rice-ball-gm1202391173-345180117" target="_blank">Photographer: Akiyoko</a></p>
                </figcaption>
            </figure>

            <section>
                <h3>What is Onigiri?</h3>
                <div>
                    <p>Onigiri (also known as <em>o-musubi</em> or <em>nigirmeshi</em>) is a traditional Japanese snack that is made by shaping cooked rice into a triangular or cylindrical shape and usually wrapping it with a strip of nori seaweed. Onigiri is often filled with various ingredients such as salted salmon, tuna, pickled plum, or other savory items. It's a convenient snack that is easy to make and is often eaten as a quick meal or snack on the go.
                    <br><br>                        
                    The history of onigiri can be traced back to the eighth century when rice cultivation became prevalent in Japan. The Japanese would shape leftover rice into small balls as a portable snack that could be eaten while traveling or working in the fields. This rice ball snack was originally known as tonjiki and was made without any filling or seasoning.
                    <br><br>
                    In the late sixteenth century, onigiri began to take on its current form. Samurai warriors would carry onigiri with them as a portable snack during battles. They would often wrap the onigiri with nori seaweed, which not only added flavor but also acted as a natural preservative.
                    <br><br>
                    Over time, onigiri became a popular snack in Japan, and various fillings and seasonings were added to the rice balls. Today, onigiri can be found in a variety of flavors and shapes, and it remains a staple snack in Japan, enjoyed by people of all ages.</p>
                </div>
            </section>

            <section>
                <h3>Ingredients</h3>
                <ul class="info-list ul-list">
                    <li>2 cups of sushi rice </li>
                    <li>2 1/4 cups of water</li>
                    <li>1/4 cup of rice vinegar</li>
                    <li>1 teaspoon of sugar</li>
                    <li>1 teaspoon of salt</li>
                    <li>1/4 cup of furikake (Japanese rice seasoning)</li>
                    <li>Filling of your choice (e.g. salmon, tuna, pickled plum, etc.)</li>
                    <li>Nori seaweed sheets, cut into small pieces</li>
                </ul>
            </section>

            <section>
                <h3>Instructions</h3>
                <ol class="info-list ol-list">
                    <li>Rinse the rice in cold water until the water becomes clear. Drain the rice and let it soak in the water for at least 30 minutes.</li>
                    <li>In a pot, combine the rice and water and bring to a boil. Reduce the heat to low, cover the pot, and let the rice simmer for 15-20 minutes.</li>
                    <li>Remove the pot from heat and let it sit for 10 minutes. Remove the lid and fluff the rice with a fork.</li>
                    <li>In a small saucepan, combine the rice vinegar, sugar, and salt over medium heat. Stir until the sugar and salt dissolve.</li>
                    <li>Pour the vinegar mixture over the rice and mix well. Let the rice cool down to room temperature.</li>
                    <li>Wet your hands with water to prevent the rice from sticking, and scoop a small amount of rice (about 1/4 cup) into your palm.</li>
                    <li>Make a small indentation in the center of the rice and add a small amount of filling. Cover the filling with more rice and shape the rice into a triangle or cylinder.</li>
                    <li>Sprinkle furikake on the onigiri and wrap it with a small piece of nori seaweed. Repeat until all the rice and filling are used up.</li>
                </ol>
                <p>Enjoy your homemade onigiri as a delicious snack or meal!</p>

                <hr>
            </section>
        </article>
    </CaseLayout>
</div>

<FooterLayout></FooterLayout>