---
import MainLayout from '../layouts/MainLayout.astro';
import FooterLayout from '../layouts/FooterLayout.astro';
import CaseLayout from '../layouts/CaseLayout.astro';
---

<MainLayout title="ðŸœ Ramen"></MainLayout>

<div class="bg-img-wrap">
    <CaseLayout>
        <article class="case-word-block">
            <hr>
            <h1>Ramen</h1>
            <figure>
                <div class="center-img">
                    <a href="https://unsplash.com/photos/NHEL1M1Cv-A" target="_blank">
                        <img src="../../public/assets/ramen.jpg" alt="ramen">
                    </a>
                </div>
                <figcaption>
                    <p class="credit"><a href="https://unsplash.com/photos/NHEL1M1Cv-A" target="_blank">Photographer: Huyen Bui</a></p>
                </figcaption>
            </figure>

            <section>
                <h3>What is Ramen?</h3>
                <div>
                    <p>Ramen is a Japanese noodle soup dish that is typically made with wheat noodles, a savory broth, and various toppings such as sliced pork, bamboo shoots, nori seaweed, and soft-boiled eggs. The dish has its roots in Chinese-style wheat noodles, but it has been adapted and developed into a unique and popular Japanese cuisine.
                    <br><br>
                    The noodles used in ramen are typically made with wheat flour, salt, and water, and they come in various thicknesses and textures depending on the regional style. The broth is usually made with a combination of meat, fish, and/or vegetable stock, and it can be flavored with soy sauce, miso, or salt.
                    <br><br> 
                    Ramen can be served in many different styles, such as shoyu (soy sauce-based), shio (salt-based), tonkotsu (pork bone-based), and miso (soybean paste-based), among others. The toppings can also vary widely, with popular choices including sliced pork belly, soft-boiled eggs, nori seaweed, and green onions.
                    <br><br>  
                    Ramen has become a popular dish around the world, with many different variations and interpretations available in different regions. It's often enjoyed as a comforting and hearty meal, particularly in colder weather, but it can be enjoyed any time of year.</p>
                </div>
            </section>

            <section>
                <h3>Ingredients</h3>
                <p class="list-title">For the broth:</p>
                <ul class="info-list ul-list">
                    <li>4 cups of chicken or pork stock </li>
                    <li>1/4 cup of soy sauce</li>
                    <li>1 tablespoon of mirin</li>
                    <li>1 tablespoon of sake</li>
                    <li>1 tablespoon of vegetable oil</li>
                    <li>4 cloves of garlic, minced</li>
                    <li>1 inch piece of ginger, peeled and sliced</li>
                    <li>2 green onions, sliced</li>
                    <li>Salt and pepper to taste</li>
                </ul>

                <p class="list-title">For the toppings:</p>
                <ul class="info-list ul-list">
                    <li>2 packs of ramen noodles</li>
                    <li>1/2 pound of pork belly, sliced into thin strips</li>
                    <li>2 soft-boiled eggs, peeled and halved</li>
                    <li>1 cup of sliced shiitake mushrooms</li>
                    <li>1 cup of bean sprouts</li>
                    <li>1 cup of spinach</li>
                    <li>2 sheets of nori seaweed, cut into small pieces</li>
                    <li>2 tablespoons of toasted sesame oil</li>
                    <li>Salt and pepper to taste</li>
                </ul>
            </section>

            <section>
                <h3>Instructions</h3>
                <ol class="info-list ol-list">
                    <li>In a large pot, heat the vegetable oil over medium heat. Add the garlic and ginger, and cook until fragrant.</li>
                    <li>Add the chicken or pork stock, soy sauce, mirin, and sake to the pot. Bring to a boil and then reduce the heat to low. Simmer the broth for 30 minutes to an hour, until the flavors are well combined.</li>
                    <li>While the broth simmers, prepare the toppings. Cook the pork belly in a separate pan until it is crispy and golden brown. Blanch the spinach in boiling water for 1-2 minutes, then drain and rinse with cold water. Sautee the shiitake mushrooms in a pan with a bit of sesame oil until they are soft and tender.</li>
                    <li>Cook the ramen noodles according to the package instructions. Drain and rinse with cold water to stop the cooking process.</li>
                    <li>To assemble the ramen bowls, place a serving of cooked noodles into each bowl. Ladle the hot broth over the noodles, and then add the pork belly, soft-boiled eggs, mushrooms, bean sprouts, spinach, and nori seaweed on top.</li>
                    <li>Drizzle some toasted sesame oil over the top of each bowl, and season with salt and pepper to taste.</li>
                    <li>Serve the ramen immediately, garnished with extra sliced green onions if desired.</li>
                </ol>
                <p><strong>Note:</strong> Ramen is a versatile dish, so feel free to experiment with different toppings and flavorings to create your own perfect bowl of homemade ramen!</p>
                <hr>
            </section>
        </article>
    </CaseLayout>
</div>

<FooterLayout></FooterLayout>