---
import MainLayout from '../layouts/MainLayout.astro';
import FooterLayout from '../layouts/FooterLayout.astro';
import CaseLayout from '../layouts/CaseLayout.astro';
---

<MainLayout title="ðŸ£ Sushi" home="../" caseAbout="../index.html#about" caseFood="../index.html#food" caseContact="../index.html#contact"></MainLayout>

<div class="bg-img-wrap">
    <CaseLayout>
        <article class="case-word-block">
            <hr>
            <h1 class="case-h1">Sushi</h1>
            <figure>
                <div class="center-img">
                    <a href="https://unsplash.com/photos/VaUm2uWBsY0" target="_blank">
                        <img src="../assets/sushi_boat.jpg" alt="sushi">
                    </a>
                </div>
                <figcaption>
                    <p class="credit case-credit"><a href="https://unsplash.com/photos/VaUm2uWBsY0" target="_blank">Photographer: Wallace Wang</a></p>
                </figcaption>
            </figure>

            <section>
                <h3>What is Sushi?</h3>
                <div>
                    <p>Sushi is a traditional Japanese dish that typically consists of vinegar-seasoned rice, known as shari, combined with various ingredients such as raw or cooked seafood, vegetables, and sometimes fruits. The sushi is often rolled in nori seaweed or served as a bite-sized portion called nigiri.
                    <br><br>
                    Sushi is believed to have originated in Southeast Asia several centuries ago, where it was first used as a method of preserving fish by packing it in salt and rice. Over time, the rice was flavored with vinegar and other seasonings to create the distinctive sushi rice we know today.
                    <br><br>
                    There are many different types of sushi, each with its own unique flavor and preparation method. Some popular types of sushi include maki rolls, which are sushi rolls wrapped in nori seaweed, and nigiri, which is sushi rice topped with a small slice of raw or cooked seafood.
                    <br><br> 
                    Sushi has become a popular food around the world, and many different variations of the dish have been developed to suit different tastes and dietary restrictions. Sushi is often considered to be a healthy and nutritious food due to its high protein content and low-fat content, but it's important to note that some types of sushi may be high in sodium or mercury, so it's best to enjoy sushi in moderation as part of a balanced diet.</p>
                </div>
            </section>

            <section>
                <h3>Ingredients</h3>
                <ul class="info-list ul-list">
                    <li>2 cups of sushi rice</li>
                    <li>2 cups of water</li>
                    <li>1/4 cup of rice vinegar</li>
                    <li>2 tablespoons of sugar</li>
                    <li>1 teaspoon of salt</li>
                    <li>Assorted fillings such as raw fish, avocado, cucumber, carrot, and/or cream cheese</li>
                    <li>4 sheets of nori seaweed</li>
                </ul>
            </section>

            <section>
                <h3>Instructions</h3>
                <ol class="info-list ol-list">
                    <li>Rinse the sushi rice in cold water until the water runs clear. Drain the rice and add it to a pot with 2 cups of water.</li>
                    <li>Bring the rice to a boil over medium-high heat. Once it boils, reduce the heat to low and simmer the rice for 18-20 minutes, or until the water is absorbed.</li>
                    <li>In a small bowl, whisk together the rice vinegar, sugar, and salt until the sugar is dissolved.</li>
                    <li>Transfer the cooked rice to a large bowl and add the vinegar mixture. Gently fold the mixture into the rice until it is well combined and the rice has cooled to room temperature.</li>
                    <li>Lay a sheet of nori seaweed onto a sushi rolling mat, shiny side down. Wet your hands and scoop a handful of rice onto the nori. Use your hands to spread the rice evenly over the nori, leaving a small border at the top and bottom edges.</li>
                    <li>Add your desired fillings to the center of the rice. Use the mat to tightly roll the sushi into a cylinder shape.</li>
                    <li>Repeat steps 5-6 with the remaining sheets of nori and rice.</li>
                    <li>Use a sharp knife to slice the sushi into bite-sized pieces.</li>
                    <li>Serve the sushi with soy sauce, pickled ginger, and wasabi, if desired.</li>
                </ol>
                <p class="note-padding"><strong>Note:</strong> Be creative with your sushi fillings! You can use any combination of ingredients you like, such as cooked shrimp, crab, or tuna, sliced avocado, cucumber, and more. Sushi can be made with either raw or cooked ingredients, so feel free to experiment with different flavors and textures.</p>

                <hr>
            </section>
        </article>
    </CaseLayout>
</div>

<FooterLayout></FooterLayout>