---
import MainLayout from '../layouts/MainLayout.astro';
import FooterLayout from '../layouts/FooterLayout.astro';
import CaseLayout from '../layouts/CaseLayout.astro';
---

<MainLayout title="ðŸ™ Takoyaki"></MainLayout>

<div class="bg-img-wrap">
    <CaseLayout>
        <article class="case-word-block">
            <hr>
            <h1>Takoyaki</h1>
            <figure>
                <div class="center-img">
                    <a href="https://unsplash.com/photos/LipkIP4fXbM" target="_blank">
                        <img src="/assets/takoyaki.jpg" alt="takoyaki">
                    </a>
                </div>
                <figcaption>
                    <p class="credit"><a href="https://unsplash.com/photos/LipkIP4fXbM" target="_blank">Photographer: Mesh</a></p>
                </figcaption>
            </figure>

            <section>
                <h3>What is Takoyaki?</h3>
                <div>
                    <p>Takoyaki is a popular Japanese snack food that originated in Osaka. It is a small ball-shaped snack made of a wheat flour-based batter, diced octopus pieces, and various other ingredients such as green onion, ginger, and tempura scraps. Takoyaki is typically served hot and topped with a variety of sauces and toppings such as mayonnaise, takoyaki sauce (a sweet and savory sauce similar to Worcestershire sauce), and dried bonito flakes.
                    <br><br>
                    Takoyaki is made using a special takoyaki pan, which is a griddle with small, round depressions. The batter and fillings are poured into the depressions and cooked over high heat until golden brown and crispy on the outside. The balls are then flipped over using a special takoyaki pick, and cooked until the other side is crispy as well.
                    <br><br>
                    Takoyaki is a popular street food in Japan and can also be found in many Japanese restaurants around the world. It's a fun and tasty snack that's perfect for sharing with friends and family.</p>
                </div>
            </section>

            <section>
                <h3>Ingredients</h3>
                <ul class="info-list ul-list">
                    <li>1 cup all-purpose flour</li>
                    <li>1 1/2 cups dashi stock (or water)</li>
                    <li>2 eggs</li>
                    <li>1/2 pound cooked octopus, diced into small pieces</li>
                    <li>1/4 cup green onion, finely chopped</li>
                    <li>1/4 cup tempura scraps (tenkasu)</li>
                    <li>1 tablespoon soy sauce</li>
                    <li>1 tablespoon cooking sake</li>
                    <li>1 tablespoon vegetable oil</li>
                    <li>Takoyaki sauce</li>
                    <li>Japanese mayonnaise</li>
                    <li>Dried bonito flakes</li>
                    <li>Aonori (dried green seaweed flakes)</li>
                </ul>
            </section>

            <section>
                <h3>Instructions</h3>
                <ol class="info-list ol-list">
                    <li>In a large mixing bowl, whisk together the flour, dashi stock, and eggs until smooth. Add the diced octopus, green onion, tempura scraps, soy sauce, cooking sake, and vegetable oil. Mix well until all ingredients are combined evenly.</li>
                    <li>Preheat a takoyaki pan over medium heat. Once the pan is hot, lightly oil each depression with vegetable oil.</li>
                    <li>Pour the takoyaki batter into each depression, filling it up to just below the rim. Using a takoyaki pick or skewer, start flipping each takoyaki ball once the batter has slightly set and the edges are starting to cook. Keep flipping until they are evenly browned and crispy.</li>
                    <li>Once the takoyaki balls are cooked, remove them from the pan and place them on a plate.</li>
                    <li>Drizzle takoyaki sauce and mayonnaise over the takoyaki, then sprinkle with dried bonito flakes and aonori.
                    </li>
                </ol>
                <p><strong>Note:</strong> You can adjust the fillings and toppings to your liking. Other common takoyaki fillings include cheese, shrimp, and kimchi. Enjoy your homemade takoyaki hot and crispy!</p>

                <hr>
            </section>
        </article>
    </CaseLayout>
</div>

<FooterLayout></FooterLayout>