---
let {title} = Astro.props;

import '../styles/style.css';
import '@fontsource/roboto-slab'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>

<div class="wrapper">
    <slot></slot>
</div>

</html>