---
let {title} = Astro.props;

import '../styles/style.css'
import '@fontsource/roboto-slab'
---

<footer>
    <div class="footer-wrapper">
        <p><a href="https://github.com/JackyNi0319" target="_blank">Copyright © JackyNi0319 2023</a></p>
    </div>
</footer>

