---
let {title} = Astro.props;

import '../styles/style.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>


<footer>
    <div class="footer-wrapper">
        <p><a href="https://github.com/JackyNi0319" target="_blank">Copyright © JackyNi0319 2023</a></p>
    </div>
</footer>

</html>