---
let {title} = Astro.props;

import style from '../styles/style.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="stylesheet" href={style}>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
</head>


<footer>
    <div class="footer-wrapper">
        <p><a href="https://github.com/JackyNi0319" target="_blank">Copyright © JackyNi0319 2023</a></p>
    </div>
</footer>

</html>