---
let {title} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>


<footer>
    <div class="footer-wrapper">
        <p><a href="https://github.com/JackyNi0319" target="_blank">Copyright © JackyNi0319 2023</a></p>
    </div>
</footer>


<style>
    footer {
        display: block;
        width: 100%;
        background-color: rgb(43, 43, 43);
        height: auto;

        font-family: sans-serif;
        font-weight: 600;
        font-size: 2.5vmin;
        color: white;

        padding: 1.5rem 0 1.5rem;
    }

    .footer-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    footer a, footer a:visited {
        color: white;
    }

    footer a:hover {
        color: rgb(0, 149, 255);
    }

    footer p:hover {
        color: rgb(95, 154, 225);
    }
</style>

</html>